/* OneUI 2.1 bug fix */
.lotusSection h2 {
	margin: 0px;
}

.lotusTitleBar {
	border-bottom:0px;
}

.lotusMain {
	border-top:0px;
}

.lotusTitleBar h2 {
	margin: 0px;
	font-weight: bold;
}

.lotusPlaceBar h2 {
	margin: 0px;
}

/* add the xpages logo */
.lotusLogo {
	background-image: url("xpagesdk_logo.png");
	width: 200px;
	height: 40px;
	margin-left: 3px !important;
}

/* Form layout */
.lotusContent h1 {
	margin-bottom: 20px;
	text-transform:uppercase;
}


.fileViewer{
	font-family:Consolas,"Courier New";
	overflow:auto;
	white-space:pre-wrap;
}

.tip th {
	text-align: left;
}

.fileSelector {
	margin-top:4px;
	margin-left:10px;
}

.fileSelector ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.fileSelector li {
	display:inline;
}

.fileSelector li + li{
	border-left: 2px solid gray;
	padding-left: 5px;
	margin-left:5px;
}

.fileSelector .current {
	color:gray;
	font-weight:bold;
}

/* list on about page */
.pipelist ul {
	list-style-type: none;
	margin: 0 0 0 10px;
	padding: 0;
	display: inline;
}

.pipelist li {
	display: inline;
}


.pipelist li + li:before{
    content: " | ";
    padding: 0 5px;
	margin-top:4px;
	margin-left:5px;
}

/* table on the about page */
.lotusTable th {
	background-color: gray;
	color: white;
	font-weight: bold;
}

.lotusTable th a, .lotusTable th a:hover  {
	color: white;
	}

.lotusTable td,.lotusTable th {
	padding: 2px 5px 2px 5px;
}

.lotusTable {
	margin-bottom: 20px;
}

.simpleTable td {
	padding:0 5px 0 0 ;
	margin:0;
	border:0;
}

/* Junit */
#junit h2 {
	margin: 0 0 20px 0;
}

/* Download link */

.downloadLink{
	color:red;
	background-image: url('download.png');
background-position: center right;
background-repeat: no-repeat;
padding-right:13px;
}

/* Fun stuff */
.pi, .pi:hover {
	float:right;
    margin-right:4px;
    text-decoration:none;
    cursor:default;

   }