<config>
	<logfiles>
		<file type="TXT">
			<title>Console</title>
			<filename>[data]\IBM_TECHNICAL_SUPPORT\console*.log</filename>
			<filters>
				<include>HTTP</include>
				<include>JVM</include>
				<include>XSP</include>
			</filters>
		</file>
		<file type="XML">
			<title>Error files</title>
			<filename>[data]\domino\workspace\logs\error-log-*.xml</filename>
			<transform>transform.xsl</transform>
		</file>
		<file type="XML">
			<title>Trace</title>
			<filename>[data]\domino\workspace\logs\trace-log-*.xml</filename>
			<transform>transform.xsl</transform>
		</file>
		<file type="TXT">
			<title>System info</title>
			<filename>[data]\IBM_TECHNICAL_SUPPORT\sysinfo*.log</filename>
		</file>
		<file type="TXT">
			<title>XPages</title>
			<filename>[data]\IBM_TECHNICAL_SUPPORT\xpages*.log</filename>
		</file>
		<file type="NSF">
			<title>log.nsf</title>
			<filename>log.nsf</filename>
			<viewname>($SearchEventsView)</viewname>
			<date-formula>StartTime</date-formula>
			<body-field>body</body-field>
		</file>
	</logfiles>
	<configfiles>
		<file type="TXT">
			<title>notes.ini</title>
			<filename>[config]\notes.ini</filename>
		</file>
		<file type="TXT">
			<title>java.policy</title>
			<filename>[program]\jvm\lib\security\java.policy</filename>
		</file>
		<file type="TXT">
			<title>java.pol</title>
			<filename>[program]\jvm\lib\security\java.pol</filename>
		</file>
		<file type="TXT">
			<title>rcpinstall.properties</title>
			<filename>[data]\domino\workspace\.config\rcpinstall.properties</filename>
		</file>
	</configfiles>
	<tab name="Ext" id="ext">
	</tab>
	<tab name="OpenLog" id="openlog" visible="false">
	</tab>
	
</config>